.app-card {
    &__container {
        width: 100%;
        min-height: 80px;
        padding: 10px 10px;
        background-color: #2e313b;
        border-radius:5px;
        display: flex;
        justify-content: space-between;
      
    }
}